<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>학번</th>
            <th>이름</th>
            <th>학과</th>
            <th>학년</th>
            <th>삭제</th>
        </tr>
        <% list.forEach(item => {%>
        <tr>
            <td><%= item.stuNo %></td>
            <td>
                <a href="/student/<%= item.stuNo%>">
                    <%= item.stuName %>
                </a>
            </td>
            <td><%= item.stuDept %></td>
            <td><%= item.stuGrade %></td>
            <td>
                <form action="/student/<%= item.stuNo%>?_method=DELETE" method="POST">
                    <button>삭제하기</button>
                </form>
            </td>
        </tr>
        <%}); %>
    </table>
    
</body>
</html>